@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');


:root {
    --color-red : hsl(1, 90%, 64%);
    --color-blue : hsl(219, 85%, 26%);
    --color-white : hsl(0, 0%, 100%);
    --color-very-light-grayish-blue : hsl(210, 60%, 98%);
    --color-light-grayish-blue-1 : hsl(211, 68%, 94%);
    --color-light-grayish-blue-2 : hsl(205, 33%, 90%);
    --color-grayish-blue : hsl(219, 14%, 63%);
    --color-dark-grayish-blue : hsl(219, 12%, 42%);
    --color-very-dark-blue : hsl(224, 21%, 14%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--color-very-light-grayish-blue);
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px auto;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.notifications {
    background-color: var(--color-white);
    max-width: 1000px;
}

/*Header*/

.notifications-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}

.header-titleAndNumber {
    display: flex;
    gap: 15px;
}

.header-title {
    font-size: 1.5rem;
}

.header-number {
    padding: 2px 10px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-weight: 800;
}

.read-messages {
    font-size: 1rem;
    color: var(--color-dark-grayish-blue);
    background-color: transparent;
    border: none;
    display: flex;
    align-self: flex-end;
    padding-bottom: 2px;
}

.read-messages:hover {
    color: var(--color-blue);
    font-weight: 500;
    cursor: pointer;
}

/*Main content*/

.main {
    padding: 0 30px;
}

.notification {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}


.person-photo {
    width: 50px;
    height: 50px;
}

.person-name {
    color: #000;
    font-weight: 800;
}

.person-name:hover {
    color: var(--color-blue);
    cursor: pointer;
    font-weight: 800;
}

.person-action {
    color: var(--color-dark-grayish-blue);
}

.post-time {
    color: var(--color-grayish-blue);
    display: inline-block;
    margin-top: 6px;
}

.user-post-reacted-title {
    color: var(--color-dark-grayish-blue);
    font-weight: 800;
}

.user-post-reacted-title:hover {
    color: var(--color-blue);
    cursor: pointer;
}

.group-name {
    color: var(--color-blue);
    font-weight: 800;
}

.group-name:hover {
    cursor: pointer;
}

.person-comment {
    padding: 20px;
    margin-top: 10px;
    border: 1px solid var(--color-light-grayish-blue-1);
    color: var(--color-grayish-blue);
    font-weight: 500;
}

.person-comment:hover {
    background-color: var(--color-light-grayish-blue-1);
    cursor: pointer;
}

.notification-left-side {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.notification.photo {
    display: flex;
    justify-content: space-between;
}

.photo-commented {
    width: 50px;
    height: 50px;
}

.photo-commented:hover {
    cursor: pointer;
}


.notification.read {
    background-color: var(--color-very-light-grayish-blue);
}

.notification.read .unread-icon{
    display: none;
}

.unread-icon {
    display: inline-block;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    margin-left: 2px;
    background-color: var(--color-red);
}

